# Discord
DISCORD_TOKEN=ton_token_bot_discord
CLIENT_ID=id_application_discord
GUILD_ID=id_serveur_pour_dev

# Base de données
DATABASE_URL=file:./data.db

# Options
LOG_LEVEL=info
NODE_ENV=development
